In [1]:

import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



def convert_to_months(years):
    if 'month' in years:
        return int(years.split()[0])
    elif 'year' in years:
        return int(years.split()[0]) * 12
    else:
        return None

In [3]:

def convert_to_int(rate):
    return float(rate.strip('%'))

In [5]:
country = input("quelle pays?(an ang):")
url = "https://www.worldgovernmentbonds.com/country/"
url = url + country + '/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table', {'class': 'w3-table money pd22 -f14'})

table_data = []

for row in table.find_all('tr'):
    cells = row.find_all('td')

    if len(cells) >= 2:
        maturity = convert_to_months(cells[1].text.strip())
        rate = convert_to_int(cells[2].text.strip())
        row_data = [maturity, rate]
        table_data.append(row_data)

df = pd.DataFrame(table_data, columns=['maturité(mois)', 'taux'])
df = df.set_index('maturité(mois)')
df

                 taux
maturité(mois)
1               3.741
3               3.780
6               3.814
9               3.676
12              3.647
24              3.217
36              2.988
48              2.890
60              2.878
72              2.872
84              2.909
96              2.949
108             3.037
120             3.153
180             3.407
240             3.578
300             3.596
360             3.666
600             3.173

In [6]:
df

                 taux
maturité(mois)
1               3.741
3               3.780
6               3.814
9               3.676
12              3.647
24              3.217
36              2.988
48              2.890
60              2.878
72              2.872
84              2.909
96              2.949
108             3.037
120             3.153
180             3.407
240             3.578
300             3.596
360             3.666
600             3.173

In [ ]:

plt.figure(figsize=(10, 6))
plt.scatter(df.index, df['taux'], label='10-year CMT', color='blue', marker='o')
plt.title('10-year Constant Maturity Treasury Rates')
plt.xlabel('time to maturity')
plt.ylabel('Interest Rate (%)')
plt.plot(df.index, df['taux'], 'o', label = 'yield data points')
plt.legend()
plt.grid(True)
fig1 = plt.show()
col1, col2 = st.columns([1, 3])
col1.dataframe(df)
col2.pyplot(fig1)
   
st.pyplot(fig1)

scrapping(country)


cs = CubicSpline(time_T, yields)
curve_points = np.linspace(min(time_T), max(time_T), 1000)